[Unit]
Description=doing testing
ConditionPathExists=/aa/package/new-build-vasa-2.10.102/dd_data.conf

[Service]
Type=simple
User=root
WorkingDirectory=/aa
Restart=always
ExecStart=/opt/icedtea-bin-3.13.0/bin/java            

[Install]
WantedBy=multi-user.target
